//= require animate
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import './colors';
@import './bootstrap-theme';
@import './animated-modal';

body {
  padding-top: 70px;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-placeholder-text);
}
