$method-get-color: #427fff;
$method-post-color: #f4934c;
$method-put-color: lighten(#fbce43, 5%);
$method-patch-color: $method-put-color;
$method-delete-color: #f65757;

$method-get-text-color: #fff;
$method-post-text-color: #fff;
$method-put-text-color: #fff;
$method-delete-text-color: #fff;
